apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-server
  namespace: todo-app
  labels:
    app: todo-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-server
  template:
    metadata:
      labels:
        app: todo-server
    spec:
      dnsPolicy: ClusterFirst
      containers:
        - name: todo-server
          image: sandy7461/todoapp_server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"

            - name: NODE_ENV
              value: "production"

            # -----------------------------
            # Use DNS (service name), NOT IP
            # -----------------------------
            - name: DB_HOST
              value: "mysql"

            - name: DB_PORT
              value: "3306"

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD

---
apiVersion: v1
kind: Service
metadata:
  name: todo-server-svc
  namespace: todo-app
spec:
  selector:
    app: todo-server
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
